body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, #db9a1a, #000000);
    background-color: #000; 
}

#gameCanvas {
    border: 5px solid white; 
    display: block; 
    margin: 0 auto; 
}